<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue SpreadsSheet</title>
    <link href="https://unpkg.com/purecss@1.0.0/build/forms-min.css" rel="stylesheet"/>
    <link href="https://unpkg.com/purecss@1.0.0/build/tables-min.css" rel="stylesheet"/>
    <link href="https://unpkg.com/purecss@1.0.0/build/buttons-min.css" rel="stylesheet"/>
    <style>
        table {
            table-layout: fixed;
        }
    </style>
</head>
<body>
<div id="app">
    <form class="pure-form pure-form-stacked">
    <table style="width:100%" class="pure-table pure-table-bordered">
        <thead>
        <tr>
        <th>Price Unit</th>
        <th>Quantity</th>
        <th>Sum</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="(line, index) in lines" :key="index">
            <td><input v-model="line.unitPrice" /></td>
            <td><input v-model="line.quantity" /></td>
            <td>{{line.unitPrice * line.quantity}}</td>
        </tr>
        </tbody>
    </table>
    <table style="width:100%" class="pure-table pure-table-bordered">
        <thead>
        <tr>
        <th>Sum Price Unit</th>
        <th>Sum Quantity</th>
        <th>Sum Absolute</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                {{sumPrice}}
            </td>
            <td>
                {{sumQuantity}}
            </td>
            <td>
                {{sumAbsolute}}
            </td>
        </tr>
        </tbody>
    </table>
    </form>
    <div style="padding: 20px;text-align: center">
        <button @click="newLine()" class="pure-button">Add line</button>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script>
  let app = new Vue({
    el: '#app',
    data: {
      templateObject: {
        unitPrice: 0,
        quantity: 0
      },
      lines: []
    },
    mounted: function() {
      this.newLine()
    },
    methods: {
      newLine() {
        this.lines.push(Object.assign({}, this.templateObject))
      }
    },
    computed: {
      sumPrice() {
        let result = 0
        this.lines.forEach(element => result += parseFloat(element.unitPrice))
        return isNaN(result) ? 0 : result
      },
      sumQuantity() {
        let result = 0
        this.lines.forEach(element => result += parseFloat(element.quantity))
        return isNaN(result) ? 0 : result
      },
      sumAbsolute () {
        let result = 0
        this.lines.forEach(element => result += parseFloat(element.quantity) * parseFloat(element.unitPrice))
        return isNaN(result) ? 0 : result
      }
    }
  })
</script>
</body>
</html>