<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://unpkg.com/purecss@1.0.0/build/forms-min.css" rel="stylesheet"/>
    <style>
        .error {
            font-size: 10px;
            color: #ff0000;
        }
    </style>
</head>
<body>
<div id="app">
    <form class="pure-form pure-form-stacked">
        <fieldset>
            <legend>Enter a text between 3 and 7 characters</legend>
        </fieldset>
        <input v-model="message"/>
        <fieldset>
            <legend>{{message}}</legend>
        </fieldset>
        <fieldset>
            <legend v-if="status"><span class="error">Error</span></legend>
        </fieldset>
    </form>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script>
  let app = new Vue({
    el: '#app',
    data: {
      message: ''
    },
    computed: {
      status () {
        return !(this.message.length > 2 && this.message.length < 8)
      }
    }
  })
</script>
</body>
</html>